@import "tailwindcss";

@theme {
  --color-terracota: #C25A3F;
  --color-bege-areia: #D9C5B2;
  --color-bege-fendi: #A39686;
  --color-verde-oliva: #606C38;
  --color-madeira: #8B5A2B;
  --color-marrom-escuro: #4A3728;

  --font-titulo: "Oswald", sans-serif;
  --font-sans: "DM Sans", sans-serif;
}